<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wcy.gen.mapper.TAdviceInfoMapper" >

    <resultMap id="BaseResultMap" type="org.wcy.gen.model.TAdviceInfo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="advice_id" property="adviceId" jdbcType="INTEGER" />
        <result column="movie_id" property="movieId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="content" property="content" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, advice_id, movie_id, user_id, content
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_advice_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_advice_info
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.wcy.gen.model.TAdviceInfo" >
        insert into t_advice_info (id, advice_id, movie_id, 
            user_id, content)
        values (#{id,jdbcType=INTEGER}, #{adviceId,jdbcType=INTEGER}, #{movieId,jdbcType=VARCHAR}, 
            #{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.wcy.gen.model.TAdviceInfo" >
        insert into t_advice_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="adviceId != null" >
                advice_id,
            </if>
            <if test="movieId != null" >
                movie_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="content != null" >
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="adviceId != null" >
                #{adviceId,jdbcType=INTEGER},
            </if>
            <if test="movieId != null" >
                #{movieId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="content != null" >
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.wcy.gen.model.TAdviceInfo" >
        update t_advice_info
        <set >
            <if test="adviceId != null" >
                advice_id = #{adviceId,jdbcType=INTEGER},
            </if>
            <if test="movieId != null" >
                movie_id = #{movieId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.wcy.gen.model.TAdviceInfo" >
        update t_advice_info
        set advice_id = #{adviceId,jdbcType=INTEGER},
            movie_id = #{movieId,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=INTEGER},
            content = #{content,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>