<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wcy.gen.mapper.TAuthInfoMapper" >

    <resultMap id="BaseResultMap" type="org.wcy.gen.model.TAuthInfo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="resou_id" property="resouId" jdbcType="VARCHAR" />
        <result column="model_id" property="modelId" jdbcType="VARCHAR" />
        <result column="bean" property="bean" jdbcType="VARCHAR" />
        <result column="method" property="method" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, resou_id, model_id, bean, method
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_auth_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_auth_info
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.wcy.gen.model.TAuthInfo" >
        insert into t_auth_info (id, resou_id, model_id, 
            bean, method)
        values (#{id,jdbcType=INTEGER}, #{resouId,jdbcType=VARCHAR}, #{modelId,jdbcType=VARCHAR}, 
            #{bean,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.wcy.gen.model.TAuthInfo" >
        insert into t_auth_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="resouId != null" >
                resou_id,
            </if>
            <if test="modelId != null" >
                model_id,
            </if>
            <if test="bean != null" >
                bean,
            </if>
            <if test="method != null" >
                method,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="resouId != null" >
                #{resouId,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null" >
                #{modelId,jdbcType=VARCHAR},
            </if>
            <if test="bean != null" >
                #{bean,jdbcType=VARCHAR},
            </if>
            <if test="method != null" >
                #{method,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.wcy.gen.model.TAuthInfo" >
        update t_auth_info
        <set >
            <if test="resouId != null" >
                resou_id = #{resouId,jdbcType=VARCHAR},
            </if>
            <if test="modelId != null" >
                model_id = #{modelId,jdbcType=VARCHAR},
            </if>
            <if test="bean != null" >
                bean = #{bean,jdbcType=VARCHAR},
            </if>
            <if test="method != null" >
                method = #{method,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.wcy.gen.model.TAuthInfo" >
        update t_auth_info
        set resou_id = #{resouId,jdbcType=VARCHAR},
            model_id = #{modelId,jdbcType=VARCHAR},
            bean = #{bean,jdbcType=VARCHAR},
            method = #{method,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>