<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.wcy.gen.mapper.TUserInfoMapper" >

    <resultMap id="BaseResultMap" type="org.wcy.gen.model.TUserInfo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="birthday" property="birthday" jdbcType="DATE" />
        <result column="vip" property="vip" jdbcType="INTEGER" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="userId" property="userid" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, name, phone, email, birthday, vip, address, userId, password, salt
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from t_user_info
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from t_user_info
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.wcy.gen.model.TUserInfo" >
        insert into t_user_info (id, name, phone, 
            email, birthday, vip, 
            address, userId, password, 
            salt)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
            #{email,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, #{vip,jdbcType=INTEGER}, 
            #{address,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
            #{salt,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.wcy.gen.model.TUserInfo" >
        insert into t_user_info
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="phone != null" >
                phone,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="birthday != null" >
                birthday,
            </if>
            <if test="vip != null" >
                vip,
            </if>
            <if test="address != null" >
                address,
            </if>
            <if test="userid != null" >
                userId,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="salt != null" >
                salt,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                #{birthday,jdbcType=DATE},
            </if>
            <if test="vip != null" >
                #{vip,jdbcType=INTEGER},
            </if>
            <if test="address != null" >
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="userid != null" >
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null" >
                #{salt,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.wcy.gen.model.TUserInfo" >
        update t_user_info
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null" >
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="email != null" >
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null" >
                birthday = #{birthday,jdbcType=DATE},
            </if>
            <if test="vip != null" >
                vip = #{vip,jdbcType=INTEGER},
            </if>
            <if test="address != null" >
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="userid != null" >
                userId = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="password != null" >
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null" >
                salt = #{salt,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.wcy.gen.model.TUserInfo" >
        update t_user_info
        set name = #{name,jdbcType=VARCHAR},
            phone = #{phone,jdbcType=VARCHAR},
            email = #{email,jdbcType=VARCHAR},
            birthday = #{birthday,jdbcType=DATE},
            vip = #{vip,jdbcType=INTEGER},
            address = #{address,jdbcType=VARCHAR},
            userId = #{userid,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            salt = #{salt,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>